<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Bootstrap Example</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- For now I am using Bootstrap 3 cdn link. Feel free to use Bootstrap 4 by replacing the link below -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
	</head>

	<body>
		<!-- <nav class='navbar navbar-expand-sm navbar-custom'>
			<a href='#' class='navbar-brand'>Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
				<i class="fa fa-bars fa-lg py-1 text-white"></i>
			</button>
			<div class='navbar-collapse collapse' id='navbarCustom'>
				<ul class='navbar-nav'>
					<li class='active nav-item' href='#'>
						<a class="nav-link" href="#">One</a>
					</li>
					<li class='nav-item' href='#'>
						<a class="nav-link" href="#">Two</a>
					</li>
					<li class='nav-item' href='#'>
						<a class="nav-link" href="#">Three</a>
					</li>
					<li class='nav-item dropdown'>
						<a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
							Dropdown
						</a>
						<div class='dropdown-menu' aria-labelledby='navbarDropdown'>
							<a class='dropdown-item'>Action One</a>
							<a class='dropdown-item'>Action Two</a>
							<a class='dropdown-item'>Action Three</a>
						</div>
					</li>
				</ul>
				<span class='ml-auto navbar-text'>Text</span>
			</div>
		</nav> -->
		<!-- Change the `data-field` of buttons and `name` of input field's for multiple plus minus buttons-->
						<!-- <div class="input-group plus-minus-input">
							<div class="input-group-button">
								<button type="button" class="button hollow circle" data-quantity="minus" data-field="conversation">
									<i class="fa fa-minus" aria-hidden="true"></i>
								</button>
							</div>
							<input class="input-group-field" type="number" name="conversation" value="0" disabled>
							<div class="input-group-button">
								<button type="button" class="button hollow circle" data-quantity="plus" data-field="conversation">
									<i class="fa fa-plus" aria-hidden="true"></i>
								</button>
							</div>
						</div> -->
		<div class="container-fluid">
			<div class='d-flex justify-content-center my-3'>
				<h1>Skill Classification Survey</h1>
			</div>

			
			<form id='myForm'>
				<div class='row mt-2 mb-4 ml-2'>
					<h5>Please rate yourself on the following IaaS skills on a scale from 1 to 5 (with 5 being proficient)...</h5>
				</div>
				<!-- <div class='d-flex flex-row justify-content-around'> -->
				<div class='row align-items-end'>
					<!-- Isolated Virtual Network -->
					<div class='form-group col-lg'>
						<label for='isolated-virtual-network'>Isolated Virtual Network</label>
						<div class='slider-container'>
							<input name='isolated_virtual_network' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
					<!-- Random -->
					<div class='form-group col-lg'>
						<label for='virtual-machines'>Virtual Machines</label>
						
						<div class='slider-container'>
							<input name='virtual_machines' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>

					<div class='w-100'></div>

					<!-- Bare Metal -->
					<div class='form-group col-lg'>
						<label for='bare-metal'>Bare Metal</label>
						<div class='slider-container'>
							<input name='bare_metal' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>

					<!-- Load Balancing -->
					<div class='form-group col-lg'>
						<label for='load-balancing'>Load Balancing</label>
						<div class='slider-container'>
							<input name='conversation' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
				</div><!-- row -->

				<!-- <div class='d-flex flex-row justify-content-around'> -->
				<div class='row align-items-end'>
					<!-- Firewalls -->
					<div class='form-group col-lg'>
						<label for='firewalls'>Firewalls</label>
						<div class='slider-container'>
							<input name='firewalls' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>

					<!-- Block Storage -->
					<div class='form-group col-lg'>
						<label for='block-storage'>Block Storage</label>
						<div class='slider-container'>
							<input name='block_storage' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>

					<div class='w-100'></div>
					<!-- Fire Storage -->
					<div class='form-group col-lg'>
						<label for='fire-storage'>Fire Storage</label>
						<div class='slider-container'>
							<input name='fire_storage' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>

					<!-- Object Storage -->
					<div class='form-group col-lg'>
						<label for='object-storage'>Object Storage</label>
						<div class='slider-container'>
							<input name='object_storage' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
				</div><!-- d-flex -->


				
				
				<div class='d-flex'>
					<button class='myBtn ml-auto mr-5 my-5 skillSubmitButton'>Submit</button>
				</div>
			</form><!-- myForm -->
		</div><!-- container-fluid -->




		

		<script src="https://code.jquery.com/jquery-3.2.1.min.js " integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin=" anonymous "></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
		<script type="text/javascript " src="js/index.js "></script>
	</body>

</html>