<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Bootstrap Example</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- For now I am using Bootstrap 3 cdn link. Feel free to use Bootstrap 4 by replacing the link below -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
	</head>

	<body>
		<!-- <nav class='navbar navbar-expand-sm navbar-custom'>
			<a href='#' class='navbar-brand'>Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
				<i class="fa fa-bars fa-lg py-1 text-white"></i>
			</button>
			<div class='navbar-collapse collapse' id='navbarCustom'>
				<ul class='navbar-nav'>
					<li class='active nav-item' href='#'>
						<a class="nav-link" href="#">One</a>
					</li>
					<li class='nav-item' href='#'>
						<a class="nav-link" href="#">Two</a>
					</li>
					<li class='nav-item' href='#'>
						<a class="nav-link" href="#">Three</a>
					</li>
					<li class='nav-item dropdown'>
						<a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
							Dropdown
						</a>
						<div class='dropdown-menu' aria-labelledby='navbarDropdown'>
							<a class='dropdown-item'>Action One</a>
							<a class='dropdown-item'>Action Two</a>
							<a class='dropdown-item'>Action Three</a>
						</div>
					</li>
				</ul>
				<span class='ml-auto navbar-text'>Text</span>
			</div>
		</nav> -->
		<!-- Change the `data-field` of buttons and `name` of input field's for multiple plus minus buttons-->
						<!-- <div class="input-group plus-minus-input">
							<div class="input-group-button">
								<button type="button" class="button hollow circle" data-quantity="minus" data-field="conversation">
									<i class="fa fa-minus" aria-hidden="true"></i>
								</button>
							</div>
							<input class="input-group-field" type="number" name="conversation" value="0" disabled>
							<div class="input-group-button">
								<button type="button" class="button hollow circle" data-quantity="plus" data-field="conversation">
									<i class="fa fa-plus" aria-hidden="true"></i>
								</button>
							</div>
						</div> -->
		<div class="container-fluid">
			<div class='d-flex justify-content-center my-3'>
				<h1>Skill Classification Survey</h1>
			</div>

			
			<form id='myForm'>
				<div class='row my-4 ml-2'>
					<h5>Please rate yourself on the following IaaS skills on a scale from 1 to 5 (with 5 being proficient)...</h5>
				</div>
				<!-- <div class='d-flex flex-row justify-content-around'> -->
				<div class='row align-items-end'>
					<!-- Isolated Virtual Network -->
					<div class='form-group col-lg'>
						<label for='isolated-virtual-network'>Isolated Virtual Network</label>
						<div class='slider-container'>
							<input name='isolated_virtual_network' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
					<!-- Random -->
					<div class='form-group col-lg'>
						<label for='virtual-machines'>Virtual Machines</label>
						
						<div class='slider-container'>
							<input name='virtual_machines' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>

					<!-- <div class='w-100'></div> -->

					<!-- Bare Metal -->
					<div class='form-group col-lg'>
						<label for='bare-metal'>Bare Metal</label>
						<div class='slider-container'>
							<input name='bare_metal' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>

					<!-- Load Balancing -->
					<div class='form-group col-lg'>
						<label for='load-balancing'>Load Balancing</label>
						<div class='slider-container'>
							<input name='load_balancing' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
				</div><!-- row -->

				<!-- <div class='d-flex flex-row justify-content-around'> -->
				<div class='row align-items-end mt-4'>
					<!-- Firewalls -->
					<div class='form-group col-lg'>
						<label for='firewalls'>Firewalls</label>
						<div class='slider-container'>
							<input name='firewalls' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>

					<!-- Block Storage -->
					<div class='form-group col-lg'>
						<label for='block-storage'>Block Storage</label>
						<div class='slider-container'>
							<input name='block_storage' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>

					<!-- <div class='w-100'></div> -->
					<!-- Fire Storage -->
					<div class='form-group col-lg'>
						<label for='fire-storage'>Fire Storage</label>
						<div class='slider-container'>
							<input name='fire_storage' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>

					<!-- Object Storage -->
					<div class='form-group col-lg'>
						<label for='object-storage'>Object Storage</label>
						<div class='slider-container'>
							<input name='object_storage' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
				</div><!-- d-flex -->

			<!-- SECTION BREAK-->
				<div class='row my-4 ml-2'>
					<h5>Please rate yourself on the following Security & Compliance skills on a scale from 1 to 5 (with 5 being proficient)...</h5>
				</div>
				<!-- <div class='d-flex flex-row justify-content-around'> -->
				<div class='row align-items-end'>
					<div class='form-group col-lg'>
						<label for='identity-and-access'>Identity & Access</label>
						<div class='slider-container'>
							<input name='identity_and_access' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
					
					<div class='form-group col-lg'>
						<label for='data-security'>Data Security</label>
						<div class='slider-container'>
							<input name='data_security' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>

					<div class='w-100'></div>

					<div class='form-group col-lg'>
						<label for='network-security'>Network Security</label>
						<div class='slider-container'>
							<input name='network_security' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>

					<div class='form-group col-lg'>
						<label for='application-security'>Application Security</label>
						<div class='slider-container'>
							<input name='application_security' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>

					<div class='w-100'></div>
					<div class='form-group col-lg'>
						<label for='security-visibility'>Security Visibility</label>
						<div class='slider-container'>
							<input name='security_visibility' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
					<div class='form-group col-lg'>
						<div class='filler'>

						</div>
					</div>
				</div><!-- row -->

				<!-- SECTION BREAK-->
				<div class='row my-4 ml-2'>
					<h5>Please rate yourself on the following Deployment skills on a scale from 1 to 5 (with 5 being proficient)...</h5>
				</div>
				<!-- <div class='d-flex flex-row justify-content-around'> -->
				<div class='row align-items-end'>
					<div class='form-group col-lg'>
						<label for='private'>Private</label>
						<div class='slider-container'>
							<input name='private' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>

					<div class='form-group col-lg'>
						<label for='public-dedicated'>Public / Dedicated</label>
						<div class='slider-container'>
							<input name='public_dedicated' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
				</div>

				<!-- SECTION BREAK-->
				<div class='row my-4 ml-2'>
					<h5>Please rate yourself on the following Runtime & Orchestration skills on a scale from 1 to 5 (with 5 being proficient)...</h5>
				</div>
				<!-- <div class='d-flex flex-row justify-content-around'> -->
				<div class='row align-items-end'>
					<div class='form-group col-lg'>
						<label for='container-orchestration'>Container Orchestration & Networking</label>
						<div class='slider-container'>
							<input name='container_orchestration' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>

					<div class='form-group col-lg'>
						<label for='environmental-templates'>Environmental Templates</label>
						<div class='slider-container'>
							<input name='environmental_templates' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>

					<div class='form-group col-lg'>
						<label for='VMWare-Runtime'>VMWare Runtime</label>
						<div class='slider-container'>
							<input name='VMWare_Runtime' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>

					<div class='form-group col-lg'>
						<label for='cloud-foundry-runtime'>Cloud Foundry Runtime</label>
						<div class='slider-container'>
							<input name='cloud_foundry_runtime' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- SECTION BREAK-->
				<div class='row my-4 ml-2'>
					<h5>Please rate yourself on the following Data, Analytics, and AI skills on a scale from 1 to 5 (with 5 being proficient)...</h5>
				</div>
				<!-- <div class='d-flex flex-row justify-content-around'> -->
				<div class='row align-items-end'>
					<div class='form-group col-lg'>
						<label for='connect-access-data'>Connect & Access Data</label>
						<div class='slider-container'>
							<input name='connect_access_data' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
					<div class='form-group col-lg'>
						<label for='search-find-data'>Search & Find Relevant Data</label>
						<div class='slider-container'>
							<input name='search_find_data' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
					<div class='form-group col-lg'>
						<label for='ingest-curate-enrich-data'>Ingest, Curate, & Enrich Data</label>
						<div class='slider-container'>
							<input name='ingest_curate_enrich_data' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
				</div>

				<div class='row align-items-end mt-4'>
					<div class='form-group col-lg'>
						<label for='build-train-AI'>Build & Train AI Models</label>
						<div class='slider-container'>
							<input name='build_train_AI' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
					<div class='form-group col-lg'>
						<label for='deploy-AI-models'>Deploy AI Models</label>
						<div class='slider-container'>
							<input name='deploy_AI_models' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
					<div class='form-group col-lg'>
						<label for='monitor-manage-analyze'>Monitor, Manage, & Analyze AI Models</label>
						<div class='slider-container'>
							<input name='monitor_manage_analyze' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
				</div>

				<!-- SECTION BREAK-->
				<div class='row my-4 ml-2'>
					<h5>Please rate yourself on the following Deep Data Governance skills on a scale from 1 to 5 (with 5 being proficient)...</h5>
				</div>
				<!-- <div class='d-flex flex-row justify-content-around'> -->
				<div class='row align-items-end'>
					<div class='form-group col-lg'>
						<label for='data-policy-management'>Data Policy Management</label>
						<div class='slider-container'>
							<input name='data_policy_management' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label'>3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
					<div class='form-group col-lg'>
						<label for='asset-catalog'>Asset Catalog</label>
						<div class='slider-container'>
							<input name='asset_catalog' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
					<div class='form-group col-lg'>
						<label for='data-policy-enforcement'>Data Policy Enforcement</label>
						<div class='slider-container'>
							<input name='data_policy_enforcement' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label' >3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
				</div>

				<!-- SECTION BREAK-->
				<div class='row my-4 ml-2'>
					<h5>Please rate yourself on the following IBM Enterprise Application skills on a scale from 1 to 5 (with 5 being proficient)...</h5>
				</div>
				<!-- <div class='d-flex flex-row justify-content-around'> -->
				<div class='row align-items-end'>
					<div class='form-group col-lg'>
						<label for='security'>Security</label>
						<div class='slider-container'>
							<input name='security' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label'>3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
					<div class='form-group col-lg'>
						<label for='commerce'>Commerce</label>
						<div class='slider-container'>
							<input name='commerce' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label'>3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
					<div class='form-group col-lg'>
						<label for='blockchain'>Blockchain</label>
						<div class='slider-container'>
							<input name='blockchain' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label'>3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
				</div>

				<!-- SECTION BREAK-->
				<div class='row my-4 ml-2'>
					<h5>Please rate yourself on the following Industry Solution skills on a scale from 1 to 5 (with 5 being proficient)...</h5>
				</div>
				<!-- <div class='d-flex flex-row justify-content-around'> -->
				<div class='row align-items-end'>
					<div class='form-group col-lg'>
						<label for='watson-health'>Watson Health</label>
						<div class='slider-container'>
							<input name='watson_health' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label'>3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
					<div class='form-group col-lg'>
						<label for='financial-services'>Financial Services</label>
						<div class='slider-container'>
							<input name='financial_services' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label'>3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
					<div class='form-group col-lg'>
						<label for='supply-chain'>Supply Chain</label>
						<div class='slider-container'>
							<input name='supply_chain' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label'>3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
				</div>

				<!-- SECTION BREAK-->
				<div class='row my-4 ml-2'>
					<h5>Please rate yourself on the following Specialty Solution skills on a scale from 1 to 5 (with 5 being proficient)...</h5>
				</div>
				<!-- <div class='d-flex flex-row justify-content-around'> -->
				<div class='row align-items-end'>
					<div class='form-group col-lg'>
						<label for='weather'>Weather</label>
						<div class='slider-container'>
							<input name='weather' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label'>3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
					<div class='form-group col-lg'>
						<label for='IoT'>Internet of Things (IoT)</label>
						<div class='slider-container'>
							<input name='IoT' type='range' min='1' max='100' value='8' class='slider' />
							<div class='mt-2 number-label-group'>
								<div class='one number-label active' >1</div>
								<div class='two number-label' >2</div>
								<div class='three number-label'>3</div>
								<div class='four number-label' >4</div>
								<div class='five number-label' >5</div>
							</div>
						</div>
					</div>
				</div>


				<div class='d-flex'>
					<button class='myBtn ml-auto mr-5 my-5 skillSubmitButton'>Submit</button>
				</div>
			</form><!-- myForm -->
		</div><!-- container-fluid -->




		

		<script src="https://code.jquery.com/jquery-3.2.1.min.js " integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin=" anonymous "></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
		<script type="text/javascript " src="js/index.js "></script>
	</body>

</html>