<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Individual Level View</title>  
</head>

<body>

  <head>

<div style="margin-left:5rem;">
<h1>Skill Survey - Individual Level View</h1>
<p>The Individual Level view shows the person level heatmap view of their respective skillsets.</p>
<p>The rating goes from 1 (beginner) to 5 (very proficient).</p>
</div>

  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
 <!--  <%= employeeData  %> -->
  <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
  <script>
  </script>
</body>
  
  <script src="https://code.jquery.com/jquery-3.2.1.min.js " integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin=" anonymous "></script>

<script>
  var employeeData = <%- JSON.stringify(employeeData) %>;
  var totalEmployees = <%- JSON.stringify(totalEmployees) %>;
  </script>
    <script  src="js/visualize1.js"></script>



</body>

</html>
