<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Platform Sub Subcategory Level View</title>
</head>

<body>

  <head>

<div style="margin-left:5rem;">
<h1>Skill Survey - Platform Sub Subcategory Level View</h1>
<p>The Platform Level view shows the sub-skill within the skill level pertaining to each platform.</p>
<p>The rating goes from 0% (skills needed), to 100% (skill requirements settled).</p>

  
</div>


  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

    <select onchange="updateChart(this);">
  <option value="Watson">Watson</option>
  <option value="iaas">Iaas</option>
</select>



 <!--  <%= employeeData  %> -->
  <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
  <script>
  </script>
</body>
  
  <script src="https://code.jquery.com/jquery-3.2.1.min.js " integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin=" anonymous "></script>

<script>
  var employeeData = <%- JSON.stringify(employeeData) %>;
  var totalEmployees = <%- JSON.stringify(totalEmployees) %>;

  console.log("totalEmployees " +totalEmployees);
  </script>
    <script  src="js/visualize5.js"></script>



</body>

</html>
